DATABASE_URL="file:./dev.db"
AUTH_SECRET="your-secret-here"
NEXT_PUBLIC_APP_URL="https://yourdomain.com"
STRIPE_SECRET_KEY=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""
RESEND_API_KEY=""
EMAIL_FROM="noreply@yourdomain.com"
